@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <ul id="teamMembers">
        <li>Teona</li>
        <li>Claudia</li>
        <li>Leon</li>
        <li>George</li>
        <li>Radu</li>
        <li>Dragos</li>
    </ul>
    <input type="text" id="nameField" title="e.g Radu" />
    <button id="createButton" title="Create">Create</button>

</div>
